{% load static %}
{% block javascript %}

<!-- JAVASCRIPT -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/metismenu/metismenu.min.js' %}"></script>
<script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/node-waves/node-waves.min.js' %}"></script>

<!-- form validation -->
<script src="{% static 'libs/parsleyjs/parsleyjs.min.js' %}"></script>
<script src="{% static 'js/pages/form-validation.init.js' %}"></script>

<!-- jquery select -->
<script src="{% static 'libs/select2/select2.min.js' %}"></script>

<!--./date picker -->
<script src="{% static 'libs/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

<!--jquery validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script src="{% static 'libs/spectrum-colorpicker/spectrum-colorpicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'libs/datatables/datatables.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<!-- Sweet Alerts js -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- form mask -->
<script src="{% static 'libs/inputmask/inputmask.min.js' %}"></script>

<!-- form mask init -->
<script src="{% static 'js/pages/form-mask.init.js' %}"></script>

<!-- form advanced init -->
<script src="{% static 'js/pages/form-advanced.init.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

<!-- notify js -->
<script src="{% static 'js/notify.js' %}"></script>

<!-- A number-separator js -->
<script src="{% static 'js/easy-number-separator.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


{% endblock %}