<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                Copyright 
                <script>
                    document.write(new Date().getFullYear())
                </script> © Prime Minister's Office (PMO). All right reserved.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Developed by <a href="#">Sacids Foundation for One Health.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
