<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <!-- <li class="menu-title text-white" key="t-menu">Sidebar</li> -->

                <!-- <li>
                    <a href="#" class="waves-effect">
                        <i class="bx bx-home text-white"></i>
                        <span key="t-dashboards">Dashboard</span>
                    </a>
                </li> -->

                <li>
                    <a href="{% url 'threads:lists' %}" class="waves-effect">
                        <i class='bx bx-message-square-dots text-primary'></i>
                        <span key="t-dashboards">Threads</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'threads:links' %}" class="waves-effect">
                        <i class='bx bx-link-alt text-primary'></i>
                        <span key="t-layouts">Linked Trees</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->