@charset "utf-8";
/* CSS Document */

/*form style*/

/*form style*/


form label {
    font-weight: 500;
    color: #424242;
    font-size: 12px;
}

form span.red, span.asteriskField, span.text-danger {
    color: #CC0000;
    font-size: 11px;
    padding-left: 2px;
    font-weight: 500;
}

.error {
    color: red;
    font-size: 11px;
    font-weight: 400;
}

span.formError {
    color: red;
    font-size: 11px;
    font-weight: 400;
}

input[type=text], input[type=email], input[type=password], input[type=file], input[type=date], input[type=number], input[type=url], input[type=file] {
    width: 100%;
    color: #424242;
    font-size: 13px;
    font-weight: 400;
    /* padding: 9px; */
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus, input[type=url]:focus, input[type=file]:focus {
    border-color: #1565C0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

textarea {
    width: 100%;
    color: #424242;
    font-size: 13px;
    font-weight: 400;
}

textarea:focus {
    border-color: #1565C0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

select {
    width: 100%;
    color: #424242;
    font-size: 13px;
    font-weight: 400;
    /* padding: 9px; */
}

select:focus {
    border-color: #1565C0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}