{% extends 'layouts/app-with-nav.html' %}
{% load static %}
{% load humanize %}
{% block title %} Threads {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Responses</h4>

            <div class="page-title-right">

            </div>
        </div>
    </div>
</div>

<div x-data="initData()">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <!--form message => success or danger -->
                    <div class="message_wrp"></div>

                    <form @submit.prevent="submitForm();" autocomplete="off">
                        {% csrf_token %}
                        <input type="hidden" name="action" x-model="formData.action">
                        <input type="hidden" name="thread_id" x-model="formData.thread_id">
                        <input type="hidden" name="response_id" x-model="formData.response_id">

                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Thread</label>
                                    <textarea name="thread" id="thread" class="form-control"
                                        placeholder="Write response title..." rows="2"
                                        readonly>{{ thread.title }}</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Response</label>
                                    <textarea name="title" id="title" class="form-control"
                                        placeholder="Write response title..." rows="2" x-model="formData.title"
                                        required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Response EN</label>
                                    <textarea name="title_en" id="title_en" class="form-control"
                                        placeholder="Write response title in English..." rows="2"
                                        x-model="formData.title_en" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea name="description" id="description" class="form-control"
                                        placeholder="Write response description..." rows="2"
                                        x-model="formData.description" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>Description EN</label>
                                    <textarea name="description_en" id="description_en" class="form-control"
                                        placeholder="Write response description in English..." rows="2"
                                        x-model="formData.description_en"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label>View Number</label>
                                    <input type="number" name="view_id" id="view_id" class="form-control"
                                        placeholder="Write View No..." min="1" x-model="formData.view_id" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-sm-start">
                                    <a href="{% url 'threads:lists' %}"
                                        class="btn btn-outline-danger text-medium">Cancel</a>
                                    <button type="submit" name="submit" class="btn btn-primary" x-text="buttonSubmit"
                                        :disabled="formLoading"></button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6" x-init="fetchResponses();">
            <div class="">
                <div class="text-sm-end">
                    <a class="btn btn-outline-primary btn-sm" x-on:click="sidebarOpen = true, fetchData()">
                        <i class='bx bx-link-alt'></i> Linking Tree
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30px">#</th>
                                <th scope="col" style="width: 30px">No.</th>
                                <th scope="col">Response</th>
                                <th scope="col" style="width: 30px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="(val, index) in responses" :key="index">
                                <tr>
                                    <td>
                                        <i class='bx bx-message-square-dots font-size-18 text-success'></i>
                                    </td>
                                    <td><span class="font-medium text-xs" x-text="val.view_id"></span></td>
                                    <td><span class="font-medium text-xs" x-text="val.title"></span></td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" x-on:click="editResponse(val.id)">Edit</a>
                                                <a class="dropdown-item" x-on:click="deleteResponse(val.id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <!--offcanvas wrp -->
    <div id="offcanvas-wrp" x-show="sidebarOpen" x-transition>
        <div id="detail-div"></div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    function initData() {
        return {
            sidebarOpen: false,
            eModal: "Current_Links",
            responses: [],
            rs_length: 0,
            thread_id: "{{thread.id}}",
            threads: [],
            current_links: [],
            searchThread: "",
    
            //form data
            formData: {
                thread_id: "{{thread.id}}",
                action: "create",
                response_id: "",
                title: "",
                title_en: "",
                description: "",
                description_en: "",
                view_id: "",
            },
            formThread: {
                thread_id: "{{thread.id}}",
                response_id: "",
                link_id: "",
            },
            formAPI:{
                thread_id: "{{thread.id}}",
                response_id: "",
                api_type: "",
                api_url: "",
            },
            formMessage: "",
            formLoading: false,
            buttonSubmit: "Submit",
            buttonThreadSubmit: "Submit",

            //fetch responses
            fetchResponses() {
                fetch("/threads/list-responses/?uuid=" + this.thread_id, { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        this.responses = data;
                        this.rs_length = data.length;
                    });
            },

            //fetch data
            fetchData() {
                fetch("/threads/detail-response/?uuid=" + this.thread_id, { method: "GET", credentials: 'same-origin' })
                    .then(response => response.text())
                    .then(data => {
                        $('#detail-div').html(data)
                    });
            },

            //get filtered 
            get filteredThreads() {
                if (this.searchThread === "") {
                    return this.threads;
                }

                return this.threads.filter((item) => {
                    return item.title
                        .toLowerCase()
                        .includes(this.searchThread.toLowerCase());
                });
            },

            //fetch threads
            fetchThreads() {
                fetch('/threads/list-threads/', { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        this.threads = data;
                    });
            },

            //edit response
            editResponse(uuid) {
                //fetch for response
                fetch("/threads/edit-response/?uuid=" + uuid, { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data)

                        //change values
                        this.formData.response_id = data.id
                        this.formData.action = "edit"
                        this.formData.title = data.title
                        this.formData.title_en = data.title_en
                        this.formData.description = data.description
                        this.formData.description_en = data.description_en
                        this.formData.view_id = data.view_id
                    });
                this.buttonSubmit = "Update"
            },

            //delete response
            deleteResponse(uuid) {
                //fetch for response
                fetch("/threads/delete-response/?uuid=" + uuid, { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data)
                        this.responses.splice(this.responses.indexOf(uuid), 1);

                        //set message
                        $('.message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Response deleted</div>"
                        );
                    });
            },

            //submit form
            submitForm() {
                this.formMessage = "";
                this.formLoading = false;
                this.buttonSubmit = "Submitting...";

                fetch("/threads/create-response", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    body: JSON.stringify(this.formData),
                })
                    .then(response => response.json())
                    .then((response) => {
                        this.formData.action = "create";
                        this.formData.title = "";
                        this.formData.title_en = "";
                        this.formData.description = "";
                        this.formData.description_en = "";
                        this.formData.view_id = ""

                        //set message
                        $('.message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Response created/updated</div>"
                        );

                        this.fetchResponses();
                    }).catch(() => {
                        //set message
                        $('.message_wrp').html(
                            "<div class='alert alert-danger rounded-sm'>Something wrong occured</div>"
                        );
                    }).finally(() => {
                        this.formLoading = false;
                        this.buttonSubmit = "Submit";
                    });
            },

            //fetch current thread links
            fetchThreadLinks() {
                fetch('/threads/current-links/?uuid=' + this.thread_id, { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        this.current_links = data;
                    });
            },

            //linking thread 2 thread
            linkThread2Thread() {
                this.formMessage = "";
                this.formLoading = false;
                this.buttonThreadSubmit= "Linking....",

                fetch("/threads/link_thread2thread", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    body: JSON.stringify(this.formThread),
                })
                    .then(response => response.json())
                    .then((response) => {
                        this.formThread.response_id = ""
                        this.formThread.link_id = ""

                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Thread Linked</div>"
                        );

                    }).catch(() => {
                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-danger rounded-sm'>Failed to link thread</div>"
                        );
                        
                    }).finally(() => {
                        this.formLoading = false;
                        this.buttonThreadSubmit = "Submit";
                    });
            },

            //linking thread 2 thread
            linkResponse2Thread() {
                this.formMessage = "";
                this.formLoading = false;
                this.buttonThreadSubmit= "Linking....",

                fetch("/threads/link_response2thread", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    body: JSON.stringify(this.formThread),
                })
                    .then(response => response.json())
                    .then((response) => {
                        this.formThread.response_id = ""
                        this.formThread.link_id = ""

                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Thread Linked</div>"
                        );

                    }).catch(() => {
                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-danger rounded-sm'>Failed to link thread</div>"
                        );
                        
                    }).finally(() => {
                        this.formLoading = false;
                        this.buttonThreadSubmit = "Submit";
                    });
            },

            //Linking API
            linkResponse2API() {
                this.formMessage = "";
                this.formLoading = false;
                this.buttonThreadSubmit= "Linking....",

                fetch("/threads/link_response2API", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                    },
                    body: JSON.stringify(this.formAPI),
                })
                    .then(response => response.json())
                    .then((response) => {
                        this.formAPI.response_id = ""
                        this.formAPI.api_type = ""
                        this.formAPI.api_url = ""

                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Thread Linked</div>"
                        );
                    }).catch(() => {            
                         //set message
                         $('.thread_message_wrp').html(
                            "<div class='alert alert-danger rounded-sm'>Failed to link thread</div>"
                        );  
                    }).finally(() => {
                        this.formLoading = false;
                        this.buttonThreadSubmit = "Submit";
                    });
            },

            //delete thread link
            deleteLink(uuid) {
                //fetch for response
                fetch("/threads/delete-link/?uuid=" + uuid, { method: "GET", credentials: 'same-origin' })
                    .then(res => res.json())
                    .then(data => {
                        this.current_links.splice(this.current_links.indexOf(uuid), 1);

                        //set message
                        $('.thread_message_wrp').html(
                            "<div class='alert alert-success rounded-sm'>Thread link deleted</div>"
                        );
                    });
            },


        }
    }
</script>

{% endblock extra_js %}